<p id="notice"><%= notice %></p>

<p>
  <strong>Test Run Priority:</strong>
  <%= @trpriority.trpriority %>
</p>

<%= link_to 'Edit', edit_trpriority_path(@trpriority) %> |
<%= link_to 'Back', trpriorities_path %>
