<p id="notice"><%= notice %></p>

<p>
  <strong>Subsystem</strong>
  <%= @tcsubsystem.tcsubsystemname %>
</p>

<%= link_to 'Edit', edit_tcsubsystem_path(@tcsubsystem) %> |
<%= link_to 'Back', tcsubsystems_path %>
