<p id="notice"><%= notice %></p>

<p>
  <strong>Test Case Status</strong>
  <%= @tcstatus.tcstatusname %>
</p>

<%= link_to 'Edit', edit_tcstatus_path(@tcstatus) %> |
<%= link_to 'Back', tcstatuses_path %>
