<p id="notice"><%= notice %></p>

<p>
  <strong>Test Run Status :</strong>
  <%= @trstatus.trstatusname %>
</p>

<%= link_to 'Edit', edit_trstatus_path(@trstatus) %> |
<%= link_to 'Back', trstatuses_path %>
