<p id="notice"><%= notice %></p>

<p>
  <strong>Test Run Subsystem:</strong>
  <%= @trsubsytem.trsubname %>
</p>

<%= link_to 'Edit', edit_trsubsytem_path(@trsubsytem) %> |
<%= link_to 'Back', trsubsytems_path %>
