<p id="notice"><%= notice %></p>

<p>
  <strong>Reqstatusname:</strong>
  <%= @reqstatus.reqstatusname %>
</p>

<%= link_to 'Edit', edit_reqstatus_path(@reqstatus) %> |
<%= link_to 'Back', reqstatuses_path %>
