<p id="notice"><%= notice %></p>

<p>
  <strong>Requirement Difficulty Name:</strong>
  <%= @reqdifficulty.reqdifficultyname %>
</p>

<%= link_to 'Edit', edit_reqdifficulty_path(@reqdifficulty) %> |
<%= link_to 'Back', reqdifficulties_path %>
