@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* try some junk */

.navbar {
  background: #ba0c2b;
  height:60px;
  opacity:0.8;
}
.navbar-inner-sm {
  background-color: #ba0c2b;
  /* padding: 1px 30px;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .0),inset 0 -1px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .0), inset 0 -1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .0), inset 0 -1px 0 rgba(0, 0, 0, .1);
  background-image: linear-gradient(top, #333333, #222222); */
}
.navbar-inner-sm .nav {
  position: relative;
  right: 0;display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar-inner-sm .nav.pull-right {
  float: left;
}

.navbar-inner-sm .nav > li {
  display: block;float: left;
}

.navbar-inner-sm .nav > li > a {
  float: none;
  padding: 4px 5px;
  line-height: 19px;
  color: #999999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inner-sm .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}

.navbar-inner-sm .nav .active > a,.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #003753;
}

.navbar-inner-sm .divider-vertical {
  height: 27px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #282828;
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #161616;
}

.navbar-inner-sm .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
}



.navbar .navbar-somebody-elses-inner {
  background: #ffffff;
  border: none;
  -moz-box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
  -webkit-box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
  -o-box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
  box-shadow: 0px 3px 2px 0px #333333, 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392);
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
}

.navbar .navbar-inner .responsive-container {


}
.nav-text {
  font-family:"open sans";
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.input-group {
  width: 200px; // for example
  margin: 0 auto;
}

.checkbox.inline.no_indent {
  margin-left: 0;
  margin-right: 00px;
}
.checkbox.inline.no_indent:last-child {
  margin-right: 70px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: gray;
    background-color: #ba0c2b;
    text-decoration: none;
  }
}

/* footer */

footer {
  background-color: #ba0c2b;
  bottom:0px;
  position:relative;
  #margin-top: 45px;
  #padding-top: 5px;
  #border-top: 1px solid $gray;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-lighter;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.7em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 40%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
/*
.field_with_errors {
  @extend .has-error;
  @extend .error;
}
*/

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}

.steps {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}


aside {
  textarea {
    height: 120px;
    width: 250px;
    margin-bottom: 5px;
  }
}


/* Table 1 Style */
table.table1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.table1 tbody span.check::before{
    content : image_url("check0.png")
}
/* Table 2 Style */
table.table2{
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    border-collapse:collapse;
    text-align:center;
}
.table2 thead th, .table2 tfoot td{
    padding:20px 10px 40px 10px;
    color:#fff;
    font-size: 26px;
    background-color:#222;
    font-weight:normal;
    border-right:1px dotted #666;
    border-top:3px solid #666;
    -moz-box-shadow:0px -1px 4px #000;
    -webkit-box-shadow:0px -1px 4px #000;
    box-shadow:0px -1px 4px #000;
    text-shadow:1px 1px 1px #000;
}
.table2 tfoot th{
    padding:10px;
    font-size:18px;
    text-transform:uppercase;
    color:#888;
}
.table2 tfoot td{
    font-size:36px;
    color:#EF870E;
    border-top:none;
    border-bottom:3px solid #666;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow:0px 1px 4px #000;
}
.table2 thead th:empty{
    background:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.table2 thead :nth-last-child(11){
    border-right:none;
}
.table2 thead :first-child,
.table2 tbody :nth-last-child(1){
    border:none;
}
.table2 tbody th{
    text-align:right;
    padding:10px;
    color:#333;
    text-shadow:1px 1px 1px #ccc;
    background-color:#f9f9f9;
}
.table2 tbody td{
    padding:10px;
    background-color:#f0f0f0;
    border-right:1px dotted #999;
    text-shadow:-1px 1px 1px #fff;
    text-transform:uppercase;
    color:#333;
}
.table2 tbody span.check::before{
    content : image_url("check1.png")
}

/* Table 3 Style */
table.table3{
    font-family:Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    /* text-transform: uppercase; */
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align:center;
    border-collapse:collapse;
}
.table3 thead th{
    padding:6px 10px;
    /* text-transform:uppercase; */
    color:#444;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    border-bottom:5px solid #444;
}
.table3 thead th:empty{
    background:transparent;
    border:none;
}
.table3 tfoot td{
  font-size:38px;
  font-weight:bold;
  padding:15px 0px;
  text-shadow:1px 1px 1px #fff;
}

.table3 tbody td{
  padding:10px;
}



/* this is what makes that one line big */

.table3 tbody tr:nth-child(7) td{
  font-size:26px;
  font-weight:bold;
}


.table3 tbody td:nth-child(even){
  background-color:#444;
  color:#444;
  border-bottom:1px solid #444;
  background:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.39, rgb(189,189,189)),
      color-stop(0.7, rgb(224,224,224))
  );
  background:-moz-linear-gradient(
      center bottom,
      rgb(189,189,189) 39%,
      rgb(224,224,224) 70%
  );
  text-shadow:1px 1px 1px #fff;
}



.table3 tbody td:nth-last-child(1){
  border-right:1px solid #222;
}
.table3 tbody th{
  color:#696969;
  text-align:right;
  padding:0px 10px;
  border-right:1px solid #aaa;
}

.table3 tbody td:nth-child(odd){
  background-color:#555;
  color:#f0f0f0;
  border-bottom:1px solid #444;
  background:-webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.39, rgb(85,85,85)),
      color-stop(0.7, rgb(105,105,105))
  );
  background:-moz-linear-gradient(
      center bottom,
      rgb(85,85,85) 39%,
      rgb(105,105,105) 70%
  );
  text-shadow:1px 1px 1px #000;
}



.table3 tbody span.check::before{
  content : image_url("check2.png")
}


.table3 thead :nth-child(2),
.table3 tfoot :nth-child(2){
  background-color: #7FD2FF;
}
.table3 tfoot :nth-child(2){
  -moz-border-radius:0px 0px 0px 5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}
.table3 thead :nth-child(2){
  -moz-border-radius:5px 0px 0px 0px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}
.table3 thead :nth-child(3),
.table3 tfoot :nth-child(3){
  background-color: #45A8DF;
}

.table3 tfoot :nth-child(3){
  -moz-border-radius:0px 0px 0px 5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}
.table3 thead :nth-child(3){
  -moz-border-radius:5px 0px 0px 0px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}
.table3 thead :nth-child(4),
.table3 tfoot :nth-child(4){
  background-color: #2388BF;
}

.table3 tfoot :nth-child(4){
  -moz-border-radius:0px 0px 0px 5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-left-radius:5px;
}
.table3 thead :nth-child(4){
  -moz-border-radius:5px 0px 0px 0px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}
.table3 thead :nth-child(5),
.table3 tfoot :nth-child(5){
  background-color: #096A9F;
}
.table3 thead :nth-child(5){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(5){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}
.table3 thead :nth-child(6),
.table3 tfoot :nth-child(6){
  background-color: #7FD2FF;
}
.table3 thead :nth-child(6){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(6){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(7),
.table3 tfoot :nth-child(7){
  background-color: #45A8DF;
}
.table3 thead :nth-child(7){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(7){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(8),
.table3 tfoot :nth-child(8){
  background-color: #2388BF;
}
.table3 thead :nth-child(8){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(8){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(9),
.table3 tfoot :nth-child(9){
  background-color: #45A8DF;
}
.table3 thead :nth-child(9){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(9){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(10),
.table3 tfoot :nth-child(10){
  background-color: #7FD2FF;
}
.table3 thead :nth-child(10){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(10){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(11),
.table3 tfoot :nth-child(11){
  background-color: #6aa9ff;
}
.table3 thead :nth-child(11){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(11){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(12),
.table3 tfoot :nth-child(12){
  background-color: #6f7eff;
}
.table3 thead :nth-child(12){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(12){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(13),
.table3 tfoot :nth-child(13){
  background-color: #22acff;
}
.table3 thead :nth-child(13){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(13){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}

.table3 thead :nth-child(14),
.table3 tfoot :nth-child(14){
  background-color: #318dff;
}
.table3 thead :nth-child(14){
  -moz-border-radius:0px 5px 0px 0px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
}
.table3 tfoot :nth-child(14){
  -moz-border-radius:0px 0px 5px 0px;
  -webkit-border-bottom-right-radius:5px;
  border-bottom-right-radius:5px;
}




