<p id="notice"><%= notice %></p>

<p>
  <strong>Requirement Dev Statusname:</strong>
  <%= @reqdevstatus.reqdevstatusname %>
</p>

<%= link_to 'Edit', edit_reqdevstatus_path(@reqdevstatus) %> |
<%= link_to 'Back', reqdevstatuses_path %>
