<p id="notice"><%= notice %></p>

<p>
  <strong>Reqpriorityname:</strong>
  <%= @reqpriority.reqpriorityname %>
</p>

<%= link_to 'Edit', edit_reqpriority_path(@reqpriority) %> |
<%= link_to 'Back', reqpriorities_path %>
