<div class="footer">
<footer class="footer">
  <small>
    <a href="http://www.centralhockeyleague.com/teams/denver/"></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://gtbiz1.s3-website-us-west-2.amazonaws.com/default.html">GoldTending by Hilliard Scott</a></li>
    </ul>
  </nav>
</footer>
</div>